.container {
  height: 100%;
  flex: 1;
}

.main {
  height: 100%;
  flex: 1;
}

.sider {
  float: left;
  width: 180px;
  height: 100%;
  background-color: white;
  border-right:1px solid;
}

.sider_title {
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300;
  margin-bottom: 30px;
}

.canvas {
  background-color: pink;
  margin-left: 181px;
  height: 100%;
}